:root {
    --primary: #00c4f4;
    --background: #030b15;
    --border: #676767;
    --circle-layer: #032b5c;
    --desc: #cfcfcf;
    --card-desc: #7d7d7d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.text-primary {
    color: var(--primary);
}

.btn-primary {
    padding: 1rem 2rem;
    background: var(--primary);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 12px;
}

.desc {
    color: var(--desc);
    font-size: 1.1rem;
    line-height: 2;
}

body {
    font-family: sans-serif;
    background: var(--background);
}

/* header */
.header {
    padding: 1rem 15rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo-txt {
    font-weight: 600;
    font-size: 2rem;
}

.navlinks {
    display: flex;
    gap: 3rem;
}

.navlink > a {
    transition: 0.5s;
}

.navlink:hover > a {
    color: var(--primary);
}

.header-btn {
    transition: 0.5s;
}

.header-btn:hover {
    transform: scale(1.05);
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* home */

.home {
    display: flex;
    flex: 1;
    padding: 8rem 20rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.home-heading {
    position: relative;
    font-size: 3.5rem;
    line-height: 1.5;
}

.home-heading::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -150px;
    width: 60%;
    height: 75%;
    background: radial-gradient(circle, #005bec, transparent);
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(50px);
    z-index: -1;
    pointer-events: none;
}

.home-btns {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.home-btn-wt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    border: 2px solid var(--primary);
    outline: none;
    background: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.home-btn-wt > .play-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.home-img {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#dot-particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle-layer-1 {
    margin-top: 2rem;
    background: var(--circle-layer);
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 100%;
}

.circle-layer-2 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid var(--primary);
    border-radius: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-layer-2::before,
.circle-layer-2::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    filter: blur(25px);
    pointer-events: none;
}

.circle-layer-2::before {
    top: 10%;
    left: 0;
    background: radial-gradient(circle, var(--primary), var(--primary));
}

.circle-layer-2::after {
    bottom: 10%;
    right: 0;
    background: radial-gradient(circle, var(--primary), var(--primary));
}

.circle-layer-2 > img {
    width: 15rem;
    height: 15rem;
}

/* about */

.about {
    flex: 0;
    padding: 8rem 20rem 4rem;
    display: flex;
    gap: 5rem;
}

.about-image {
    width: 50%;
}

.about-content {
    margin-top: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-heading {
    font-size: 2rem;
}

/* why choose us */

.why-choose-us {
    flex: 0;
    padding: 4rem 20rem;
}

.why-choose-us-content {
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.why-to-choose-heading {
    font-size: 2rem;
}

.why-choose-us-content > p {
    text-align: center;
}

.why-choose-cards {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.why-choose-card {
    padding: 2rem 1rem;
    border: 1px solid #353535;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-img {
    background: #353535;
    border-radius: 100%;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}

.card-heading {
    font-size: 1.2rem;
}

.card-desc {
    color: var(--card-desc);
    font-size: 1rem;
    line-height: 1.5;
}

/* guide */

.guide {
    flex: 0;
    padding: 4rem 20rem;
}

.guide-content {
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.guide-heading {
    font-size: 2rem;
}

.guide-content > p {
    text-align: center;
}

.guide-cards {
    padding: 0 8rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.guide-card {
    padding: 2rem 1rem;
    border: 1px solid #353535;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.guide-card > p {
    text-align: center;
}

.guide-card > button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.greaterthan-icon {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
}

/* vision */

.vision {
    flex: 0;
    padding: 4rem 20rem;
    display: flex;
    gap: 2rem;
}

.vision-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vision-heading {
    font-size: 2rem;
}

.status {
    display: flex;
    gap: 2rem;
}

.stat-no {
    font-size: 2rem;
    font-weight: bold;
}
.stat-name {
    font-size: 0.8rem;
}

.vision-img {
    width: 50%;
}

/* feature */

.feature {
    flex: 0;
    padding: 4rem 20rem;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feature-content > p {
    text-align: center;
}
